<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700" rel="stylesheet" type="text/css">

    <title>Wallet</title>
</head>
<body>
    <div style="text-align: center; font-family: open sans;">
      <h1>Creating Wallet</h1>
    </div>

    <div style="color: black; font-family: open sans; display: flex; align-items: center; justify-content: space-evenly; ">
      <a href="/create"><button style="background-color: white; border: 2px solid black; border-radius: 15px; padding: 12px 20px 12px 20px; cursor: pointer; text-decoration: none; color: black;"> Create Wallet</button></a>  
        <button style="background-color: white; border: 2px solid black; border-radius: 15px; padding: 12px 20px 12px 20px; cursor: pointer;" >Your Wallets</button>
    </div>
</body>
<script>
   
</script>
</html>